/* General Styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Left Sidebar */
#left-sidebar {
    position: fixed;
    top: 20px;
    left: 0;
    width: calc(1920px / 21 * 4);
    font-size: 18px;
    font-family: "Georgia", "Times New Roman", Times, serif;
    overflow-y: auto;
    max-height: 96vh;
    z-index: 1000;
}

/* Remove underline from all links by default */
#left-sidebar a {
    text-decoration: none;
}

/* Add underline when hovered */
#left-sidebar a:hover {
    /* border: 1px solid rgb(255, 255, 255);; */
    /* box-shadow: 0 0 5px rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#left-sidebar p,
#left-sidebar a,
#left-sidebar span,
#left-sidebar .preformatted {
    color: rgb(255, 255, 255);
    font-size: 16px;
    z-index: 1000;
}

.preformatted {
    margin: 0;
}

#left-sidebar p {
    margin-left: 40px;
}

#left-sidebar a.top-link {
    margin-left: 40px;
}

#left-sidebar .section > .caret,
#left-sidebar .section > a {
    margin-left: 80px;
}

#left-sidebar .sub-section a {
    margin-left: 40px;
}

.caret {
    cursor: pointer;
}

.caret:hover {
    border: 1px solid rgb(255, 255, 255);;
}

/* Initially open */
.sub-section {
    display: block;
}

#menu-icon {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 10px;
    z-index: 1000;
    background-color: #0c1a42; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: 20px;
    height: 20px;
}


.bar {
    background-color: #ffffff;
    height: 3px;
    margin: 3px 0;
    width: 20px;
}

#menu-icon:hover {
    border: 2px solid white;
}

@media screen and (max-width: 768px) {
    #left-sidebar {
        display: none;
        width: 366px;
    }
    #menu-icon {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    #left-sidebar {
        display: block;
    }
    #menu-icon {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #left-sidebar {
      display: block;
    }
    #menu-icon {
      display: none;
    }
}

#background-layer {
    background-color:  #0c1a42;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(1920px / 21 * 4);
    z-index: 500;  /* Make sure it is below the sidebar but above other content */
    display: none;
}

@media screen and (min-width: 769px) {
    #background-layer {
        display: block; 
    }
}

/* 这是一个CSS注释，用于标识右边的主体部分的样式开始 */

/* Main Content */
#main-content {
    margin-left: calc(1920px / 21 * 4);
    font-family: "Georgia", "Times New Roman", Times, serif;
    padding: 20px 40px 40px 40px;  /* 上 右 下 左 */
}

#main-title {
    font-size: 48px;
    margin: 30px;
}

.sub-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.text-content {
    font-size: 16px;
    margin-bottom: 24px;
}

.second-sub-title {
    font-size: 18px;
    margin-bottom: 24px;
}


.two-column {
    column-count: 2;
    column-gap: 40px;
}

/* Video Container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0; /* Collapse the div */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #main-content {
        margin-left: 0;
        padding: 15px 30px 30px 30px;  /* 上 右 下 左 */
    }

    #main-title {
        font-size: 40px;
        margin: 16px;
    }

    .two-column {
        column-count: 1;
    }

    .video-container {
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    }
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container img {
    width: calc(100% / 4 - 10px);  /* 4 images per row, minus some margin */
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .image-container img {
        width: calc(100% / 2 - 10px);  /* 2 images per row on smaller screens, minus some margin */
    }
}

.responsive-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.responsive-image{
max-width: 100%;
height: auto;
}

.small-text {
  font-size: 14px;
}

.two-column-responsive {
  column-count: 2;
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .two-column-responsive {
    column-count: 1;
  }
}

/* Basic Styling */
.gif-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .gif-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .gif-container {
      flex-direction: column;
      align-items: center;
    }
  }
  


/* 这是一个CSS注释，用于标识新加入的样式开始 */
.highlight {
  background-color: #ffff00;  /* 黄色背景 */
  padding: 4px;               /* 内边距 */
  border-radius: 2px;         /* 圆角 */
}


/* 这是一个CSS注释，用于标识程序格子的样式开始 */
/* 格子1 */
.box1 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box1 .initial-text {
    background-color: #b0caa3;
    color: black;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box1 .hover-text {
    display: none;
    background-color: #5d6d4e;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box1:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box1:hover .hover-text {
    display: block;

}

/* 格子2 */
.box2 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box2 .initial-text {
    background-color: #ced9c7;
    color: black;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box2 .hover-text {
    display: none;
    background-color: #5d6d4e;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box2:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box2:hover .hover-text {
    display: block;

}

/* 格子3 */
.box3 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box3 .initial-text {
    background-color: #c7e2ed;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box3 .hover-text {
    display: none;
    background-color: rgb(38, 50, 78);
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box3:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box3:hover .hover-text {
    display: block;

}

/* 格子4 */
.box4 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box4 .initial-text {
    background-color: rgb(155, 195, 208);
    color: black;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box4 .hover-text {
    display: none;
    background-color: rgb(38, 50, 78);
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box4:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box4:hover .hover-text {
    display: block;
}

/* 格子5 */
.box5 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box5 .initial-text {
    background-color: #e9d3dd;
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box5 .hover-text {
    display: none;
    background-color: #68000a;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box5:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box5:hover .hover-text {
    display: block;
}

/* 格子6 */
.box6 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box6 .initial-text {
    background-color: #e0acb1;
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box6 .hover-text {
    display: none;
    background-color: #68000a;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box6:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box6:hover .hover-text {
    display: block;
}

/* 格子7 */
.box7 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box7 .initial-text {
    background-color: #fffed7;
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box7 .hover-text {
    display: none;
    background-color: #a86200;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box7:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box7:hover .hover-text {
    display: block;
}

/* 格子8 */
.box8 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box8 .initial-text {
    background-color: #f4f1a0;
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box8 .hover-text {
    display: none;
    background-color: #a86200;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box8:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box8:hover .hover-text {
    display: block;
}

/* 格子9 */
.box9 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box9 .initial-text {
    background-color: #bccdc6;
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box9 .hover-text {
    display: none;
    background-color: #415337;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box9:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box9:hover .hover-text {
    display: block;
}

/* 格子10 */
.box10 {
    display: block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 30px 0px;
    border: none;
    width: calc(100% - 40px); /* 减去左右边距的总和 */
    margin: 0 20px 10px 20px; /* 上、右、下、左 */
    padding: 0; /* 移除内边距 */
    border: none; /* 确保没有边框 */
    overflow: hidden; /* 为了确保内容不会溢出 */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* 这是为了保证hover-text可以覆盖在initial-text上 */
}

.box10 .initial-text {
    background-color: rgb(242, 242, 226);
    color: #000000;
    font-size: 16px;
    padding: 20px;
    display: block;
    height: auto;
}

.box10 .hover-text {
    display: none;
    background-color: #74664d;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute; /* 使hover-text覆盖在initial-text上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /* 当内容超出时，显示滚动条 */
}

.box10:hover .initial-text {
    visibility: hidden; /* 使用visibility而不是display，以确保它还占据空间 */
}

.box10:hover .hover-text {
    display: block;
}

table {
  width: 100%;
  border-collapse: separate; /* 保持为 separate */
  border-spacing: 0 5px; /* 设置列之间为0，行之间为10px的间距 */
}

td, th {
  background-clip: padding-box; /* 使背景色不延伸到间隔区域 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: none; /* 继续保持无边框 */
  text-align: center;
  font-weight: normal; /* 默认字体不加粗 */
  border-radius: 10px; /* 给单元格添加圆角 */
  padding: 10px 10px; /* 上下边距为10px，左右边距为15px */
}

/* 第一列的样式 */
th:nth-child(1), td:nth-child(1) {
  background-color:  #5d6d4e;
  color: white; /* 白色字体 */
  font-weight: bold; /* 加粗字体 */
}

/* 第二列的样式 */
th:nth-child(2), td:nth-child(2) {
  background-color:  #a4976e; /* 深灰色 */
  color: white; /* 可根据需要调整字体颜色 */
}

/* 第三列的样式 */
th:nth-child(3), td:nth-child(3) {
  background-color: #b8a585; /* 中灰色 */
  color: rgb(255, 255, 255); /* 可根据需要调整字体颜色 */
}

/* 第四列的样式 */
th:nth-child(4), td:nth-child(4) {
  background-color: #c9b8a9; /* 浅灰色 */
  color: rgb(255, 255, 255); /* 可根据需要调整字体颜色 */
}

/* 第五列的样式 */
th:nth-child(5), td:nth-child(5) {
  background-color: #a67f59; /* 更浅灰色 */
  color: rgb(255, 255, 255); /* 可根据需要调整字体颜色 */
}

/* 第六列的样式 */
table th:nth-child(6), table td:nth-child(6) {
    background-color: #636c72;
    color: rgb(255, 255, 255); /* 白色字体 */
}

/* 未点击链接的颜色 */
table td:nth-child(6) a:link {
    color: #e5f6ff; /* 浅钢蓝色 */
}

/* 已点击链接的颜色 */
table td:nth-child(6) a:visited {
    color: #76cbff; /* 稍深的钢蓝色 */
}

/* 使第六列中的图片适应单元格大小 */
td img {
  width: 100%;
  height: auto;
}

/* 设置第二列至第五列的字体大小为16号 */
td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    font-size: 12px;
}

td:nth-child(6){
    font-size: 10px;
}

/* 从第二行开始第一列的字体大小设置为18号 */
td:nth-child(1) {
  font-size: 14px;
  font-weight: normal; /* 默认字体不加粗 */
}



.fps-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px; /* 默认字体大小 */
}

.fps-table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    border-radius: 10px; /* 给单元格添加圆角 */
}

.fps-table td:first-child {
    background-color: #34495e;
    font-size: 16px;
    color: white; /* 第一列的文本颜色 */
}

.fps-table td:nth-child(2){
    background-color: white; /* 第二和第三列的背景颜色 */
    color: rgb(0, 0, 0);
}

.fps-table td:nth-child(3) {
    background-color: rgb(188, 200, 208); /* 第二和第三列的背景颜色 */
    color: rgb(0, 0, 0);
}

.fps-table tr:first-child td {
    font-size: 16px; /* 第一行的字体大小 */
}

.fps-table {
    border-collapse: separate;
    border-spacing: 0 5px; /* 在行之间添加5px的空隙 */
}

.fps-table td {
    border: none; /* 去掉单元格的边框 */
}

.fps-table td:nth-child(1), .fps-table td:nth-child(3) {
    width: 40%; /* 第一和第三列各占45% */
}

.fps-table td:nth-child(2) {
    width: 20%; /* 第二列占10% */
}

.fps-table td:nth-child(2) {
    font-weight: bold; /* 字体加粗 */
    font-size: 16px; 
}

.fps-table td:nth-child(3) {
    font-size: 16px; 
}


.box01 {
    background-color: #3d4b33;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box02 {
    background-color: #5d6d4e; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box03 {
    background-color: #a4976e;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box04 {
    background-color: #b8a585;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box05 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #c9b8a9;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box06 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #a67f59;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box07 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #636c72;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box08 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2c3e50;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box09 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #566d82;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255); /* 文本颜色 */
}

.box010 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ecf0f1;  /* 暗铁灰 */
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0); /* 文本颜色 */
}

.box011 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(236, 241, 236);  /* 轻石灰绿*/
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0); /* 文本颜色 */
}

.box012 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color:  rgb(188, 200, 208); 
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0); /* 文本颜色 */
}

/* 加载响应图片 */
.responsive-image {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .responsive-image {
    width: 30%;
  }
}

.gui-table {
  width: 100%;
  border-collapse: separate;
  background-color: white; /* 设置背景色为白色 */
  border-spacing: 0; 
}

.gui-table td {
  background-color: white; /* 设置单元格的背景色为白色 */
}


.gui-table td:first-child {
  width: 20%;
}

.gui-table td:last-child {
  width: 80%;
}

.gui-table td:nth-child(1) {
    font-weight: bold; /* 字体加粗 */
    font-size: 16px; 
}

.gui-table td:nth-child(2) {
    font-size: 16px; 
}


.image-table {
  width: 100%;
  border-collapse: separate; /* 开启边框分离，这样可以设置单元格之间的空隙 */
  border-spacing: 10px; /* 设置单元格之间的水平和垂直空隙，这里只在垂直方向上添加空隙 */
  table-layout: fixed; /* 使得每列宽度均匀分布 */
}

/* 第一行的样式 */
.image-table tr.row1 td {
  border: none; /* 第一行不显示边框 */
}

/* 第一行第一列的样式 */
.image-table tr.row1 td:first-child {
  background-color: #4b3f33; /* 指定的背景颜色 */
  font-size: 16px; /* 指定的字体大小 */
}

/* 第一行第二列的样式 */
.image-table tr.row1 td:nth-child(2) {
  background-color: #6d5e4e; /* 指定的背景颜色 */
  font-size: 16px; /* 指定的字体大小 */
}

/* 第二行的样式 */
.image-table tr.row2 td {
  background-color: #ffffff; /* 第二行的背景颜色 */
  border: 1px solid #000; /* 第二行显示边框，这里设置为黑色，你可以根据需求调整颜色和边框大小 */
}


.colored-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 5px; /* 设置列之间无空隙，行之间有10px空隙 */
  table-layout: fixed;
}

/* 隐藏所有边框 */
.colored-table td, .colored-table th {
  border: none; /* 取消边框 */
  padding: 10px;
}

/* 第一列的样式 */
.colored-table td:nth-child(1) {
  background-color: #ffffff; /* 第一列的背景颜色 */
  border: 1px solid #000;
  font-size: 16px; /* 第一列的字体大小 */
  color: rgb(0, 0, 0); /* 第一列的文本颜色 */
}

/* 第二列的样式 */
.colored-table td:nth-child(2) {
  background-color: #b9c4e0; /* 第二列的背景颜色 */
  font-size: 16px; /* 第二列的字体大小 */
  color: rgb(0, 0, 0); /* 第二列的文本颜色 */
}

/* 第三列的样式 */
.colored-table td:nth-child(3) {
  background-color: #0c1a42; /* 第三列的背景颜色 */
  font-size: 16px; /* 第三列的字体大小 */
  color: white; /* 第三列的文本颜色 */
}

.colored-table img {
  max-width: 50%; /* 图片最大宽度为单元格宽度 */
  height: auto; /* 高度自动调整，保持图片比例 */
  display: block; /* 防止图片下方出现额外的空间 */
  margin-left: auto;
  margin-right: auto;

}

/* 第一行的字体样式 */
.colored-table tr:first-child td {
  font-size: 16px; /* 16号字体 */
}

/* 除第一行外所有行的字体样式 */
.colored-table tr:not(:first-child) td {
  font-size: 16px; /* 16号字体 */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.image-container img {
    flex: 1 1 auto;
    max-width: calc(33.333% - 10px); /* 为三个图片时 */
    height: auto;
}

/* 媒体查询 - 当屏幕尺寸小于某个阈值时，改变布局 */
@media (max-width: 800px) {
    .image-container img {
        max-width: calc(48% - 10px); /* 为两个图片时 */
    }
}

.future-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 10px; /* 设置列之间的空隙 */
  table-layout: fixed; /* 固定布局 */
}

/* 隐藏所有边框 */
.future-table td, .future-table th {
  border: none; /* 取消边框 */
  padding: 10px;
}

/* 第一列的样式 */
.future-table td:nth-child(1), .future-table th:nth-child(1) {
  width: 30%; /* 第一列宽度设为30% */
  background-color: #dae5ff; /* 第一列的背景颜色 */
  border: 1px solid #000;
  font-size: 16px; /* 第一列的字体大小 */
  color: rgb(0, 0, 0); /* 第一列的文本颜色 */
}

/* 第二列的样式 */
.future-table td:nth-child(2), .future-table th:nth-child(2) {
  width: 70%; /* 第二列宽度设为70% */
  background-color: #2c4687; /* 第二列的背景颜色 */
  font-size: 16px; /* 第二列的字体大小 */
  color: rgb(255, 255, 255); /* 第二列的文本颜色 */
}

/* 加载PDF,用来做错误记录 */
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* 或者你需要的高度 */
}

.pdf-container iframe {
  width: 100%;
  height: 95%; /* 或指定一个高度 */
}

.box013 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    font-size: 14px; 
    color: rgb(0, 0, 0); /* 文本颜色 */
    border: 3px solid #9b0000;
}

.box014 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    font-size: 14px; 
    color: rgb(0, 0, 0); /* 文本颜色 */
    border: 3px solid rgba(0, 52, 155, 0.804)
}

.box015 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    font-size: 14px; 
    color: rgb(0, 0, 0); /* 文本颜色 */
    border: 3px solid rgba(155, 0, 96, 0.804)
}

.box016 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;  
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    font-size: 14px; 
    color: rgb(0, 0, 0); /* 文本颜色 */
    border: 3px solid rgba(93, 0, 155, 0.804)
}

.box017 {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(188, 200, 208);  /* 轻石灰绿*/
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0); /* 文本颜色 */
}




.box019 {
    background-color: #375a7b;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box020 {
    background-color: #68795b;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box021 {
    background-color: #847a5e;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}

a { /* 所有链接的默认样式 */
    text-decoration: none; /* 去掉下划线 */
}
